.petoverview {
  display: flex;
  flex-direction: column;

  &__photo {
    display: block;
    border-radius: 16px;
    border-radius: 50%;
    align-self: center;
    width: 180px;
  }

  &__description {
    margin-top: 30px;
    display: flex;
    flex-direction: column;

    & > * {
      margin-bottom: 10px;
    }
  }
}