.petoverview {
  &__photo {
    display: block;
    border-radius: 16px;
    border-radius: 50%;
    align-self: center;
    width: 180px;
  }

  &__description {
    padding: 10px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;

    & > * {
      margin-bottom: 10px;
    }
  }
}