$side_width: 30vw;
$body_width: calc(100vw - #{$side_width});

.baselayout {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;

  &__side {
    height: 100%;
    width: $side_width;
    background-color: #eeeeee;
    padding: 25px;
    position: fixed;
    top: 0;
    left: 0;
  }

  &__body {
    position: relative;
    left: $side_width;
    height: 100%;
    width: $body_width;
    background-color: #ffffff;
    padding: 25px;
  }
}