$main_purple_color: #8779f4;

.congratulations-text {
    text-align: center;
    line-height: 0.5;
    margin-top: 25px;
    color: $main_purple_color;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 125px;
    height: 40px;
    border: 1px solid #fff;
    background-color: #fff;
    cursor: pointer;
    border-radius: 6px;
    align-self: end;
    color: $main_purple_color;

    &:hover, &:disabled {
        background-color: #c9c9c9;
        color: $main_purple_color;
        border-color: #c9c9c9;
    }

    &:disabled {
        cursor: progress;
    }
}

.btn-alt {
    width: 125px;
    height: 40px;
    border: 1px solid #fff;
    background-color: transparent;
    cursor: pointer;
    border-radius: 6px;
    align-self: end;
    color: #fff;

    &:hover, &:disabled {
        background-color: transparent;
        color: #c9c9c9;
        border-color: #c9c9c9;
    }

    &:disabled {
        cursor: progress;
    }
}

.ml-2 {
    margin-left: 6px;
}

.foundpage {
    width: 500px;
    background-color: #fff;
    color: #0f0f0f;
    border-radius: 12px;
    padding: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    box-shadow:
        0px 1.1px 2.2px rgba(0, 0, 0, 0.008),
        0px 2.6px 5.3px rgba(0, 0, 0, 0.012),
        0px 4.9px 10px rgba(0, 0, 0, 0.015),
        0px 8.7px 17.9px rgba(0, 0, 0, 0.018),
        0px 16.3px 33.4px rgba(0, 0, 0, 0.022),
        0px 39px 80px rgba(0, 0, 0, 0.03)
    ;

    &-toast {
        position: absolute;
        background: #8779f4;
        width: 100%;
        padding: 15px;
        border-radius: 12px;
        box-shadow: 1px 2px 36px -5px rgba(0,0,0,.5);
        border: 5px solid #fff;
        overflow: hidden;
        color: #fff;
        line-height: 0.5;
        transition: 1s all;

        &__buttons {
            margin-top: 25px;
            display: flex;
            justify-content: space-between;
        }

        &--hidden {
            bottom: -800px;
        }

        &--visible {
            bottom: 0px;
        }
    }
    &-logo {
        color: $main_purple_color !important;
        margin-bottom: 25px;
    }

    &-search {
        display: flex;
        flex-direction: column;

        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        &__error {
            color: #db2626;
            margin: 0;
        }

        &__description {
            margin: 0;
        }

        &__lookupbtn {
            width: 75px;
            height: 40px;
            border: 1px solid $main_purple_color;
            background-color: transparent;
            cursor: pointer;
            border-radius: 6px;
            align-self: end;
        
            &:hover {
                background-color: $main_purple_color;
                color: #fff;
            }
        }
    }

    &-found {
        width: 100%;

        img {
            border-radius: 6px;
            object-fit: cover;
        }

        &__description {
            margin: 20px 0;
        }

        &__header {
            display: flex;

            &-information {
                display: flex;
                flex-direction: column;
                margin-left: 15px;
                justify-content: space-between;
                text-transform: capitalize;


                img {
                    border-radius: 6px;
                }

                h3, p {
                    margin: 0;
                }
            }
        }

        hr {
            margin: 25px 0;
            border-color: #e7e7e7;
            border-style: solid;
        }

        &__contact {
            p:first-of-type {
                margin-top: 10px;
            }
            p {
                margin-top: 0;
                margin-bottom: 10px;
            }
        }
    }
}

#found-code-input {
    width: 100%;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    padding: 25px 10px;
    height: 30px;
    font-size: 2rem;
    border-color: #b3b0b0;
    margin: 25px 0;
}

@media (max-width: 525px) {
    .foundpage {
        width: 100%;
        height: 100%;
        justify-content: center;

        &-logo {
            position: absolute;
            top: 30px;
        }
    }
}

