@import '../../styles/colors.scss';

.sidebarmenu {
  width: 100%;
  height: min-content;
  padding: 15px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;

  &__option {
    display: flex;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    transition: .2s all;
    cursor: pointer;

    &--active {
      color: $color_white !important;
      background-color: $color_pink;
      border-radius: 32px;

      & > * {
        transition: .2s all;

        &:hover {
          color: $color_black !important;
        }
      }
    }

    &-description {
      margin: 0;
    }

    & > * {
      transition: .2s all;

      &:hover {
        color: $color_pink;
      }
    }
  }
}