@import '../../styles/colors.scss';

.sidebarmenu {
  width: 100%;
  min-width: 300px;
  height: min-content;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;

  &__option {
    display: flex;
    width: 100%;
    padding: 10px;
    transition: .2s all;
    cursor: pointer;

    &-description {
      margin: 0;
    }

    &:hover {
      color: $color_2;
    }
  }
}