@import '../../styles/colors.scss';

.auth {
  width: 100%;
  height: 100%;
  background-color: $color_pink;
  display: flex;

  &__dialog {
    min-width: 400px;
    height: 100%;
    padding: 50px;
    background-color: $color_white;
    position: relative;
  }

  &__body {
    font-family: "Red Hat Display";
    padding: 50px 50px 25px 50px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &-title {
      font-weight: 900;
      margin-bottom: 0;
    }

    &-message {
      font-weight: 400;
      margin-bottom: 0;
    }
  }
}