@import '../../styles/colors.scss';

.profilebadge {
  width: 100%;
  min-width: 300px;
  height: min-content;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;

  &__header {
    display: flex;
    min-width: 250px;
    width: min-content;
    align-items: center;
    transition: .2s all;
    cursor: pointer;
    border-radius: 16px;

    &-avatar {
      width: 50px;
      height: 50px;
      margin: auto;
      border: 2px solid $color_1;
      border-radius: 40%;
    }

    &-info {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      padding: 10px 15px;

      &-name {
        line-height: .5;
        font-weight: 300;
      }

      &-description {
        margin-top: 5px;
        line-height: .5;
        font-weight: 300;
      }
    }

    &:hover {
      transform: scale(1.05) rotateZ(-5deg);
      box-shadow: 0px 0px 25px -10px rgba(0,0,0,.5);
    }
  }
  
  & > h3, p {
    margin-bottom: 0;
  }
}