@import '../../styles/colors.scss';

.profilebadge {
  width: 100%;
  height: min-content;
  padding: 15px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;

  &__header {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: rgb(254 168 181 / 40%);
    border-radius: 50px;
    padding: 5px;
    border: 2px solid rgb(255 102 125 / 50%);
    transform: scale(1);

    &-avatar {
      width: 28px;
      border-radius: 50%;
      margin-right: 9px;
    }

    &-info {
      &-name {
        margin: 0;
        font-weight: 300;
      }

      &-description {
        margin-top: 5px;
        line-height: .5;
        font-weight: 300;
      }
    }
  }
  
  & > h3, p {
    margin-bottom: 0;
  }
}