@import '../../styles/colors.scss';

.profilebadge {
  width: 100%;
  min-width: 300px;
  height: min-content;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;

  &__header {
    display: flex;
    width: 100%;

    &-avatar {
      width: 100px;
      height: 100px;
      margin: auto;
      border: 2px solid $color_1;
      border-radius: 40%;
      margin-bottom: 15px;
    }

    &-info {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      padding: 10px 25px;

      &-name {
        line-height: .5;
        font-weight: 300;
      }

      &-description {
        margin-top: 5px;
        line-height: .5;
        font-weight: 300;
      }
    }
  }
  
  & > h3, p {
    margin-bottom: 0;
  }
}